@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// 主体区域内容样式
.app-container {
  padding: 10px;
  font-size: 10px;

  // 卡片间距
  .el-card {
    margin: 5px;
    .el-card__body {
      padding: 15px;
    }
  }
  .el-row {
    margin-bottom: 15px;
  }

  // 查询条件域样式
  .app-container-searchForm {
    .el-form-item {
      margin-bottom: 0px;

      // 字体标签
      .el-form-item__label {
        font-size: 10px;
      }

      // 搜索按钮
      .el-button--primary {
        background-color: #2D5D88;
        border-color:#2D5D88;
      }
      .el-button--primary:focus, .el-button--primary:hover {
        background: #7093BE;
        border-color: #7093BE;
      }
    }
  }
  // 数据表格区域样式
  .el-table {
    // 表格头样式
    .cell {
      color: #606266
    }
  }
}
